.App {
  margin: 18px;

  padding: 3px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}

.general-container {
  height: 100vh;
  margin: 0 auto;
  width: 875px;
  display: block;
  padding-top: 40px;
}

.MuiCardContent-root.item-list {
  float: left;
  width: 100%;
  display: flex;
  padding: 0px;
  padding-bottom: 0px;
  height: 20%;
}

.container-img-carousel {
  float: left;
  width: 33%;
  position: relative;
}
.gon {
  font-size: 2em;
  position: absolute;
  padding-top: 175px;
}

.heart-liked {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.container-info {
  float: left;
  width: 65%;
  padding: 20px;
  box-sizing: border-box;
  height: 380px;
  margin-bottom: -110px;
}

.arrow-slider {
  color: white;
  font-size: 24px;
}

.title-item {
  color: #569ce2;
  font-size: 24px;
  font-weight: 600;
}

.heart-liked {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.ubication-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 5px;
}

.ubication-title p {
  margin: 0px 0px 0px 10px;
}

.ubication-title * {
  color: #999999;
  font-size: 14px;
}

.heart-liked {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.ubication-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 5px;
}

.ubication-title p {
  margin: 0px 0px 0px 10px;
  /* font-size: 14px; */
}

.ubication-title * {
  font-size: 14px;
}

.footer-item button {
  width: 25%;
  color: white;
  background-color: orange;
  left: 47px;
  bottom: -3px;
}

h4 {
  right: 100px;
}

.description {
  width: 100%;
  padding-top: 8px;
  overflow-y: scroll;
  height: 37%;
  font-size: 10px;
}
.container-info .title-item {
  color: #569ce2;
  font-size: 20px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 875px) {
  .general-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .general-container > div {
    max-width: 414px;
    float: left;
    width: 100%;
  }

  .general-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    height: auto;
  }
}
