.super-highligthted {
  border-top: 9px solid #6c0dac;
  margin-top: 10px;
}

.highligthed {
  border-top: 9px solid #239dda;
  margin-top: 10px;
}

.no-highligthed {
  margin-top: 10px;
}

.image {
  width: 220px;
  height: 217px;
  display: flex;
}

.heart {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.destacado {
  position: absolute;
  left: 12x;
  z-index: 1;
  font-size: 20px;
}

h1 {
  display: inline;
  font-size: 25px;
  margin-left: 10px;
}

p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}
.button {
  float: left;
  display: flex;
}
